<p id="notice"><%= notice %></p>

<h1>Sign Ups</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Store location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_ups.each do |sign_up| %>
      <tr>
        <td><%= sign_up.fullname %></td>
        <td><%= sign_up.store_location %></td>
        <td><%= link_to 'Show', sign_up %></td>
        <td><%= link_to 'Edit', edit_sign_up_path(sign_up) %></td>
        <td><%= link_to 'Destroy', sign_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign Up', new_sign_up_path %>
