<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @sign_up.fullname %>
</p>

<p>
  <strong>Store Location:</strong>
  <%= @sign_up.store_location %>
</p>

<%= link_to 'Edit', edit_sign_up_path(@sign_up) %> |
<%= link_to 'Back', sign_ups_path %>
